.thumbnail a>img, .thumbnail>img {
      width: 100%;
    object-fit: cover;
    min-height: 300px;
    max-height: 300px;
}

body{
  font-size: 20px;
}

.navbar-fixed-bottom{
  background: #2c3d4f;
  color: white;
}

a{
  color: #128f76;
}
